body {
    padding: 0px;
    margin: 0px auto;
}

.containerCss {
    width: 1200px;
    padding: 0px;
    margin: 0px auto;
}

.header-static {
    z-index: 999;
    position: sticky;
    top: 0px;
    position: -webkit-sticky;
    background-color: white;
}

.ant-message-error {
    z-index: 1000;
}

header .flex-hd {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box1 {
    width: auto;
}

.box1 img {
    width: 120px;
    padding: 5px;
}

.box2 {
    /* background-color: cadetblue; */
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    margin-left: 4%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.left form input {
    width: 320px;
    padding: 5px;
    border-radius: 5px;
    /* border: #0074B1 1px solid; */
    background-color: aliceblue;
}

.left form input::placeholder {
    color: #5D5D5D;
    font-size: 14px;
    padding: 10px;
}


.left form button {
    /* background-color: #E1E8EE; */
    position: relative;
    left: -47px;
    padding: 5px 15px;
    border-radius: 0px 5px 5px 0px;
}

.lups {
    font-size: 20px;
}

.right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.right ul {
    display: flex;
    gap: 40px;
}

.thea {
    list-style-type: none;
    font-size: 12px;
    display: grid;
    gap: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tutut {
    cursor: pointer;
}

.right ul li div {
    color: gray;
}

.freemonth a {
    font-weight: 600;
    color: gray;
}

nav {
    background-color: #F3F6F8;
    width: 100%;
    font-size: 14px;
    padding: 8px;
    box-shadow: 0px 1.6px 3px 1px gray;
}

nav div {
    text-align: right;
    display: flex;
    justify-content: right;
    gap: 20px;
}

nav div ul {
    display: flex;
    gap: 20px;
    font-weight: 600;
    color: gray;
}

.lups-left {
    margin-left: 5px;
}


.search-results {
    background-color: white;
    padding: 30px;
    font-size: 16px;
    width: 318px;
    box-shadow: 0 0 1px 0 gray;
    position: absolute;

}

.search-list {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.search-list .search-blue:hover {
    color: blue;
}

.search-list img {
    width: 70px;
}

.header-mypro {
    right: -250%;
}

.avtme {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    padding: 0px;
    margin: 0px auto;
}

.ttf avatar {
    margin-bottom: 10px;
}

.testtt {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}