.course-overview-header {
    width: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, .6) 33%, #fff 60%);
    height: 415px;
    display: flex;
}

.courseLeft-ah1 {
    font-size: 40px;
    font-weight: 600;
}

.courseRight button {
    border: 1px solid white;
    border-radius: 50px;
    margin-top: 170px;
    margin-left: 200px;
    font-weight: 700;
    padding: 10px 20px;
    background-color: black;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}

.courseLeft {
    width: 60%;
    padding: 20px;
    margin-top: 30px;
    background-color: white;
}

.course-span-left span {
    font-size: 14px;
    margin-right: 10px;
}

.course-span-left {
    display: flex;
    align-items: center;
}

.course-span-leftx {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imgHid img {
    opacity: 0.5;
    position: absolute;
    top: 100px;
    left: 50%;
    width: 750px;
    height: 430px;
    box-shadow: 0px -40px 50px 60px rgb(225, 218, 218);
}

.intro-bt {
    margin-top: 20px;
}

.intro-bt1 {
    background-color: #0A66C2;
    color: white;
    padding: 10px 30px;
    font-weight: 700;
}

.intro-bt1:hover {
    background-color: #084d93;
    color: white;
    padding: 10px 30px;
    font-weight: 700;
}

.intro-bt2 {
    border: 1px solid #0A66C2;
    padding: 10px 30px;
    color: #0A66C2;
    font-weight: 700;
}

.intro-bt2:hover {
    box-shadow: 0px 0px 3px 2px;
    padding: 10px 30px;
    color: #0A66C2;
    font-weight: 700;
}

.course-body-intro {
    margin-top: 20px;
    padding: 20px;
}

.course-intro-sp1 {
    font-size: 13px;
    font-weight: 500;
    color: gray;
}

.included-phone {
    display: grid;
    gap: 10px;
    text-align: center;
    justify-content: left;
    margin-top: 20px;
    font-weight: 600;

}

.included-phone div {
    display: flex;
    gap: 15px;
    align-items: center;
}

.included-phone i {
    font-size: 20px;
}

.courseDescription {
    margin-top: 40px;
}

.titleCourseDescription {
    font-size: 21px;
    font-weight: 600;
}

.courseDescription p {
    margin-top: 20px;
}

.certiLeft img {
    width: 250px;
}

.certificate {
    display: flex;
    gap: 20px;
}

.certiRight img {
    width: 230px;
}

.certiRight ul li {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
}

.instructors {
    margin-top: 20px;
}

.instructors-children {
    display: flex;
    gap: 20px;
}

.instruc-left img {
    width: 80px;
    border-radius: 100%;
}

.instruc-right h1 {
    font-size: 20px;
    font-weight: 600;
}

.instruc-right h3 {
    color: #15589b;
    margin-top: 10px;
    font-weight: 600;
}

.course-body-intro {
    width: 70%;
}

.introducation-right {
    width: 30%;
}

.preview {
    width: 600px;
}

.timeforvideoIntro {
    background-color: gray;
    color: white;
    font-size: 12px;
    padding: 1px 10px;
    position: relative;
    top: -20px;
    left: -37%;
}

.listReviewIntro {
    margin-top: 20px;
}

.reviewIntroChildren {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    gap: 30px;
}

.avatarReview img {
    margin-top: 15px;
    width: 60px;
    object-fit: cover;
    height: 60px;
    border-radius: 100px;
}

.desrv1 {
    font-weight: 600;
    color: #0A66C2;
    font-size: 18px;
}

.desrv2 {
    font-size: 15px;
}

.desrv3 {
    margin-top: 5px;
    display: flex;
    color: #FBBF24;
}

.desrv4 {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}

.formReview {
    border: 1px solid rgb(230, 229, 229);
    padding: 20px;
    border-radius: 10px;
}

.starrev {
    color: #FBBF24;
    font-size: 24px;
}

.instruc-left img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    z-index: 1;
    align-items: center;
}

.overlay iframe {
    width: 80%;
    height: 80%;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    z-index: 99999;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro_pre {
    position: absolute;
    z-index: 1;
}

.intro_close {
    position: absolute;
    z-index: 1;
    top: 2%;
    right: 2%;
}

.prosimi img {
    width: 130px;
    height: 70px;
}