.br-cl-1{
    background-color: #DAD3CC
}
.bg-cl-2{
    background-color: #DDECF2
}
.br-cl-3{
    background-color: #FCF4CB
    
}
.br-cl-4{
    background-color: #F2F2F2
}
.br-cl-5{
    background-color: #E2F7CB
}
.br-cl-6 {
    background-color: #449388
}
.mr-t{
    margin-top: -128px;
}
.br-cl-7{
    background-color: #1a202c;
}
